body{
    background-color: gold;
}
h1{
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
a{
    color:blue;
}
nav ul{
    background-color:rgb(255, 185, 56) ;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color:whitesmoke;
    padding: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
img{
    border-radius: 30px;
}
div{
    position: relative;
    padding-bottom: 40%;
}
table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}
tr{
    background-color: white;
}
th, td {vertical-align: top;
    text-align: left;
    padding: 5px;
    color: black;
}
iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}